@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  .grid-layout {
    grid-template-areas:
      'header'
      'main';
  }

  @media (min-width: 640px) {
    .grid-layout {
      grid-template-areas:
        'header'
        'main'
        'footer';
    }
  }

  .grid-layout > header {
    grid-area: header;
  }

  .grid-layout > main {
    @apply [&::-webkit-scrollbar]:w-0;
    grid-area: main;
  }

  .grid-layout > footer {
    grid-area: footer;
  }
}
